@import "tailwindcss";

*,
*::before, 
*::after {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  background-color: #f9fafb;
  color: #111827;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit; 
}
.text-primary{
  color: #15A0DC;
}  
.bg-primary{
  background-color: #15A0DC;
}
.text-secondary{
  color: #F66A35;
} 
.border-secondary{
  border: 12px;
  border-color: #F66A35;
}
.bg-secondary{
  background-color: #F66A35;
}
.svg-secondary{
  fill:#F66A35 !important;
}
.text-dark{
  color: #2E2E2E;
}
.bg-dark{
  background-color: #2E2E2E;
}  
.font-gelasio {
  font-family: 'Gelasio', serif;
} 
.font-inter {
  font-family: 'Inter', sans-serif;
} 
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {    
  content:"";
  grid-area: 1/1;
  --c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes l12 { 
  100%{transform: rotate(.5turn)}
}